body {
    /* background-image: url(./headphones.jpg); */
    background-color: gold;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

.container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#navbar {
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 6px;
}

nav img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5px;
    animation: spin 0.5s ease-in;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

ul {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.navitems {
    list-style-type: none;
    font-size: 17px;
    margin-top: 2px;
    animation: landing 0.5s ease-in;
}

@keyframes landing{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    }
}

.navitems a{
    text-decoration: none;
    color: black;
}

.nav-button2 {
    background-color:  rgb(158, 31, 197);
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2px;
    padding: 10px 30px;
    border-style: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    animation: slideInRight 1s ease;
}

.nav-button2:hover{
    transform: translateY(-2px);
}

.nav-button2:active{
    background-color: rgb(123, 30, 149);
}

#main-body {
    margin-top: 30px;
    display: flex;
}

.png-div{
    margin-top: 15px;
    position: relative;
    z-index: -1;
}

#back-png{
    width: 450px;
    animation: slideInRight 1s ease;
}

@keyframes slideInRight{
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    }
}

.title {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 125px;
}

.title h1 {
    color: white;
    font-size: 80px;
    margin: 0;
    margin-right: auto;
    animation: slideIn 0.5s ease-in;
}

.title h2{
    margin-right: auto;
    color: rgb(69, 65, 65);
    animation: slideIn 1s ease-in;
}

@keyframes slideIn{
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0px);
    }
}

.title-button{
    display: flex;
    gap: 30px;
    margin-right: auto;
    animation: slideIn 1.2s ease-in;
}

#title-buy-now-button{
    color: white;
    background-color: rgb(158, 31, 197);
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bolder;
    margin-left: 5px;
    font-size: medium;
    border-style: none;
    cursor: pointer;
    transition: all;
}

#title-buy-now-button:hover{
    transform: translateY(-2px);
}

#title-buy-now-button:active{
    background-color: rgb(123, 30, 149);
}

#title-products-button{
    color: white;
    background-color: rgb(24, 22, 22);
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}

#title-products-button:hover{
    transform: translateY(-2px);
}

#title-products-button:active{
    background-color: rgb(44, 36, 36);
}
